<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/home.css" rel="stylesheet">

</head>
<body>
    <div class="header"></div>
    <div class="main" id="login">
        <form id="loginForm" action="/api/login" method="get">
            <input type="text" id="email" name="email" placeholder="Email"><br>
            <input type="text" id="password" name="password" placeholder="Hasło"><br><br>
            <input type="submit" id="loginSubmit" value="Logowanie" class="btn">
        </form>
    </div>
    <div class="main" id="home">
        <div id="matchInfo">

        </div>
        <button id="deleteMatchBtn" onclick="removeMatch()" class="btn">Usuń dopasowanie</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="js/home.js"></script>
</body>
</html>