<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amore</title>
    <link rel="stylesheet" href="css/loginRegister.css">
</head>
<body>
    <div id="siteTitle" class="title"> Amore </div>
    <div class="freeSpace"></div>
    <div id="buttonList">
        <button onclick="location.href='/home'" type="button" class="loginBtn">
            Logowanie
        </button> <br>
        <button onclick="location.href='/register'" type="button" class="registerBtn">
            Rejestracja
        </button>
    </div>

</body>
</html>