<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/matching.css" rel="stylesheet">
</head>
<body>
<div class="header"></div>
<div class="main">
    <div class="scrollBox">
        <table>
            <thead>
                <th> Email </th>
                <th> Imię </th>
                <th> Nazwisko </th>
                <th> Email </th>
                <th> Imię </th>
                <th> Nazwisko </th>
            </thead>
            <tbody id="root">

            </tbody>
        </table>
    </div><br><br>
    <button onclick="buttonAction()" class="btn">Dopasuj</button>

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/matching.js"></script>
</body>
</html>